<div class="users-container">
    <div class="users-cards-container">
        <mat-card class="card" routerLink="validate-user" matRipple>
            <mat-card-header class="card-header">
              <mat-card-title>Approve user</mat-card-title>
              <mat-card-subtitle>&nbsp;</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-content">
              <mat-icon class="card-icon">check_circle</mat-icon>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <button mat-mini-fab color="primary" class="card-button">
                <mat-icon>check</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="card" routerLink="create-user" matRipple>
            <mat-card-header class="card-header">
              <mat-card-title>Create user</mat-card-title>
              <mat-card-subtitle>&nbsp;</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-content">
              <mat-icon class="card-icon">person_add</mat-icon>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <button mat-mini-fab color="primary" class="card-button">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
