<div class="fleet-container">
    <div class="fleet-cards-container">

      <mat-card class="card" routerLink="create-robot-type" matRipple>
        <mat-card-header class="card-header">
          <mat-card-title>Create Robot Type</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon class="card-icon">android</mat-icon>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-mini-fab color="primary" class="card-button">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card" routerLink="create-robot" matRipple>
        <mat-card-header class="card-header">
          <mat-card-title>Create Robot</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon class="card-icon">android</mat-icon>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-mini-fab color="primary" class="card-button">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card" matRipple>
        <mat-card-header class="card-header">
          <mat-card-title>Edit fleet</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon class="card-icon">edit</mat-icon>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-mini-fab color="primary" class="card-button">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card" routerLink="list-robots" matRipple>
        <mat-card-header class="card-header">
          <mat-card-title>List Robots</mat-card-title>
          <mat-card-subtitle>by task type or designation</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon class="card-icon">search</mat-icon>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-mini-fab color="primary" class="card-button">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card" routerLink="fleet-list" matRipple>
        <mat-card-header class="card-header">
          <mat-card-title>List Fleet</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon class="card-icon">list</mat-icon>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-mini-fab color="primary" class="card-button">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>
