<div class="edit-floors-container">
    <div class="edit-floors-section">
      <h2>Edit floors</h2>
      <div class="building-selection-form">
        <h4>Select building:</h4>
        <mat-form-field class="building-selection-form-field">
          <mat-label>Building</mat-label>
          <mat-select [formControl]="buildingSelectionControl" (valueChange)="onSelectionUpdateTable($event)">
            <mat-option></mat-option>
            <div *ngFor="let building of buildingList;">
              <mat-option  [value]="building.id">{{building.code}} - {{building.id}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="Floor-selection-form">
        <h4>Select floor:</h4>
        <mat-form-field class="floor-selection-form-field">
          <mat-label>Floor</mat-label>
          <mat-select [formControl]="floorSelectionControl" (valueChange)="onSelectionUpdateTable($event)">
            <mat-option></mat-option>
            <div *ngFor="let floor of floorList;">
              <mat-option  [value]="floor.id">{{floor.buildingId}} - {{floor.id}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>