<h1>Planiamento da rota.</h1>
<mat-form-field>
    <mat-label>Selecione o Piso</mat-label>
    <mat-select [(ngModel)]="selectedFloor">
      <mat-option *ngFor="let floor of floors" [value]="floor.value">{{ floor.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Selecione outro Piso</mat-label>
    <mat-select [(ngModel)]="selectedOtherFloor">
      <mat-option *ngFor="let floor of floors" [value]="floor.value">{{ floor.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
  
<table mat-table [dataSource]="resultado" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="origem">
    <th mat-header-cell *matHeaderCellDef> Origem </th>
    <td mat-cell *matCellDef="let element"> {{element.origem}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="destino">
    <th mat-header-cell *matHeaderCellDef> Destino </th>
    <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="caminho">
    <th mat-header-cell *matHeaderCellDef> Caminho </th>
    <td mat-cell *matCellDef="let element"> {{element.caminho}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="custo">
    <th mat-header-cell *matHeaderCellDef> Custo </th>
    <td mat-cell *matCellDef="let element"> {{element.custo}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>