# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules
/Frontend/node_modules
/Frontend/.angular
/Frontend/dist

/Gestao_Informacao/node_modules

# misc
.DS_Store
.env*
.bak*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
build
.vscode
.editorconfig
.gitignore

.idea
