<div class="home-container">
  <mat-toolbar color="primary">
    <span>RobDroneGo</span>
    <div class="toolbar-button-group">
      <button mat-icon-button color="basic" routerLink="profile">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button color="basic" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-progress-bar class="spinner" mode="indeterminate" *ngIf="spinnerService.loading | async" ></mat-progress-bar>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav class="sidenav"
                 mode='side'
                 opened='true'
                 disableClose='true'>
      <mat-nav-list>
        <mat-list-item class="sidenav-item sidenav-button" (click)="isExpanded = !isExpanded">
          <mat-icon class="sidenav-item-icon" fontIcon="swap_horiz"></mat-icon>
        </mat-list-item>

        <div class="sidenav-items">
          <ng-container *ngFor="let menuEntry of MENU_ENTRIES">
            <mat-list-item *ngIf="menuEntry.authorizedRoles.includes(userRole)" id="{{menuEntry.title}}" class="sidenav-item" routerLink="{{menuEntry.redirectTo}}" [routerLinkActive]="['is-active']">
              <mat-icon class="sidenav-item-icon" fontIcon="{{menuEntry.icon}}"></mat-icon>
              <span *ngIf="isExpanded">{{ menuEntry.title }}</span>
            </mat-list-item>
          </ng-container>
        </div>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

