<!-- Seletor de Edifícios -->
<div class="list-elevator-container">
    <div class="list-elevator-section">
      <h2>List building elevators</h2>
      <div class="building-selection-form">
<mat-form-field>
  <mat-label>Select Building:</mat-label>
  <mat-select [formControl]="buildingSelectionControl" (selectionChange)="onSelectionUpdateTable($event.value)">
    <mat-option *ngFor="let building of buildingList" [value]="building.id"> {{building.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<!-- Tabela de Elevadores -->
<mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <!-- Colunas -->
  <ng-container matColumnDef="buildingid">
    <mat-header-cell *matHeaderCellDef>Building ID</mat-header-cell>
    <mat-cell *matCellDef="let elevator">{{ elevator.buildingId }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
    <mat-cell *matCellDef="let elevator">{{ elevator.code }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="floorList">
    <mat-header-cell *matHeaderCellDef>Floor List</mat-header-cell>
    <mat-cell *matCellDef="let elevator">
      <span *ngFor="let floor of elevator.floorList">{{ floor }}, </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let elevator">{{ elevator.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="expand">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let elevator">
      <div class="expand-row" *ngIf="expandedElement === elevator">
        <!-- Conteúdo expandido aqui, se necessário -->
      </div>
    </mat-cell>
  </ng-container>

  <!-- Definição das colunas -->
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="expandedElement = expandedElement === row ? null : row"></mat-row>
</mat-table>
</div>


