body {
    margin: 0;
  }
  
  
  #views-panel {
    position: absolute;
    top: 1vh;
    z-index: 1;
    width: 100.0vmin;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5vmin;
    color: white;
  }
  
  #help-panel {
    position: absolute;
    top: 20vh;
    z-index: 1;
    width: 100.0vmin;
    font-family: Arial, sans-serif;
    font-size: 1.5vmin;
    color: white;
  }
  
  #subwindows-panel {
    position: absolute;
    bottom: 18vh;
    left: 2vw;
    z-index: 1;
    font-family: Arial, sans-serif;
    font-size: 1.5vmin;
    color: white;
    width: max-content;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
  
  table.views {
    background-color: #70707070;
    text-align: right;
  }
  
  table.help {
    width: 50vmin;
    background-color: #70707050;
  }
  
  table.subwindows {
    position: absolute;
    background-color: #70707070;
    text-align: right;
    width: max-content;
  }
  
  th,
  td {
    overflow: hidden;
    border: 1px solid black;
  }
  
  a {
    color: white;
  }
  
  #view,
  #projection {
    width: 18ch;
    font-size: 1.5vmin;
  }
  
  #horizontal,
  #vertical,
  #distance,
  #zoom {
    width: 10ch;
    font-size: 1.5vmin;
  }
  
  #reset,
  #reset-all {
    width: 16ch;
    font-size: 1.5vmin;
  }
  
  input:invalid {
    background-color: pink;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }