/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

body{
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color-light: #4db6ac;
  --primary-color: #009688;
  --primary-color-dark: #004d40;
  --color-black: #000;
  --global-spacer-xl: 4rem;
  --global-spacer-m: 2rem;
  --global-spacer-s: 1rem;

}
