<div class="create-bridge-container">
  <div class="create-bridge-section">
    <h2>Create a new Bridge</h2>

    <mat-card class="form-card-container">
      <mat-card-content>
        <form class="form" [formGroup]="bridgeForm" (ngSubmit)="onSubmit()">

          <div class="floorA-selection-form">

            <h4>Select building A:</h4>
            <mat-form-field class="form-field building-selection-form-field">
              <mat-select [formControl]="buildingSelectionControl" (valueChange)="onSelectionUpdateSelectionControlA($event)">
                <mat-option></mat-option>
                <div *ngFor="let building of buildingList;">
                  <mat-option  [value]="building.id">{{building.code}}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <h4>Select floor A:</h4>
            <mat-form-field class="form-field floorA-selection-form-field">
              <mat-select [formControl]="floorASelectionControl">
                <mat-option></mat-option>
                <div *ngFor="let floorAId of floorAList;">
                  <mat-option  [value]="floorAId.id">{{floorAId.floorNumber}}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="buildingB-selection-form">
            <h4>Select building B:</h4>
            <mat-form-field class="form-field buildingB-selection-form-field">
              <mat-select [formControl]="buildingBSelectionControl" (valueChange)="onSelectionUpdateSelectionControlB($event)">
                <mat-option></mat-option>
                <div *ngFor="let buildingB of buildingBList;">
                  <mat-option  [value]="buildingB.id">{{buildingB.code}}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-field floorB-selection-form">
            <h4>Select floor B:</h4>
            <mat-form-field class="form-field floorB-selection-form-field">
              <mat-select [formControl]="floorBSelectionControl" >
                <mat-option></mat-option>
                <div *ngFor="let floorBId of floorBList;">
                  <mat-option  [value]="floorBId.id">{{floorBId.floorNumber}}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </div>

          <p>
            <mat-form-field class="form-field form-field-code">
              <mat-label>Code</mat-label>
              <input matInput [formControl]="bridgeForm.controls.code" #inputCode maxlength="5" placeholder="Ex. A1-B1" value="A1-B1">
              <mat-hint align="end">{{inputCode.value.length}} / 5</mat-hint>
              <mat-error *ngIf="bridgeForm.controls.code.hasError('required')">Code is <strong>required</strong></mat-error>

            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="form-field form-field-name">
              <mat-label>Name</mat-label>
              <input matInput [formControl]="bridgeForm.controls.name">
            </mat-form-field>
          </p>

          <div class="form-button-group">
            <button mat-flat-button color="primary" type="submit" [disabled]="!bridgeForm.valid">Create</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="bridge-details-section">
    <pre>{{this.createdBridge | json}}</pre>
  </div>
</div>




