<mat-card class="box" style="max-height: 500px; overflow-y: auto;">
    <!-- Conteúdo existente -->

    <!-- Seu conteúdo de política de privacidade -->
    <h1>Privacy Policy</h1>
    <p>
        RGPD - Report
        Como cliente do projeto pretendo um relatório que, descrevendo a solução encontrada e considerando as normas do RGPD, identifique concretamente os dados pessoais utilizados, o tratamento a que serão sujeitos, bem como a finalidade e fundamento daquele tratamento e, ainda, o responsável pelo tratamento.
        A solução em desenvolvimento constitui sistema de execução de tarefas de uma frota de robots e drones, a ter lugar no campus do ISEP. O sistema é denominado RobDroneGo.
        Este sistema permitirá que, dentro do campus do ISEP, os robots/drones possam efetuar diversas tarefas, nomeadamente: Vigilância
        Limpeza dos corredores Entrega de items
        O serviço de email de conteúdos do RobDroneGo fornecido a si (doravante “o utilizador”) consiste no envio regular das informações divulgadas pela RobDroneGo., no âmbito de comunicados relacionados com robots e requisição de tarefas.
        Recolha de Dados Pessoais
        O RobDroneGo, Lda recolhe, os seguintes dados pessoais: Número Mecanográfico, Primeiro e último nome, Endereço de e-mail,
        Número de Telefone. Esta recolha é feita através do website.
        Estes dados são recolhidos com as seguintes finalidades:
        Número Mecanográfico: Identificação e autenticação dentro da comunidade do ISEP. Primeiro e último nome: Interação com o website. Apresentação de conteúdo personalizado.
        Endereço de e-mail, Número de Telefone: Logística na entrega de items. Envio de notificações.
        A recolha dos seus dados é sempre feita mediante consentimento prévio indicando claramente a finalidade a que se destinam. Os dados recolhidos são adequados, relevantes e não excessivos em relação ao escopo, propósito e serviços especificados, explícitos e legítimos por parte RobDroneGo.
        É enfatizado que todo o processamento de dados pessoais é realizado de acordo com as diretrizes estabelecidas pelas leis atuais de privacidade e proteção de dados. A segurança, confidencialidade e integridade dos dados pessoais dos utilizadores são prioridades máximas, e todas as operações de processamento são realizadas com o máximo respeito pela privacidade e segurança dos dados.
    </p>
    <p>


        Tratamento dos Dados Pessoais
        RobDroneGo responsável pelo tratamento dos dados pessoais dos utilizadores que procedam ao preenchimento dos seus dados.
        Os Dados Pessoais obtidos são incorporados em aplicação informática da RobDroneGo. O acesso à informação em arquivo por parte dos colaboradores da RobDroneGo somente é possível com a inserção de senhas de acesso exclusivas ficando o registo documentado. As alterações a dados existentes nos arquivos são possíveis ficando um registo da data e do código de utilizador responsável pela alteração.
        Os Dados Pessoais são tratados com o grau de protecção legalmente exigível para garantir a segurança dos mesmos e evitar a sua alteração, perda, tratamento ou acesso não autorizado, tendo, sendo o utilizador consciente e aceitando que as medidas de segurança em Internet não são inexpugnáveis.
        A RobDroneGo. está dotada de infra-estruturas técnicas de controlo periférico, nomeadamente por anti-virus, firewalls de rede, sistemas de encriptação, circuitos privados e VPN’s que respeitam os requisitos de segurança. Os Servidores informáticos incluem um serviço de
         protecção de informação digital. O serviço engloba o backup de ficheiros, a sua conservação de acordo com a política definida e o restore a pedido da RobDroneGo.
    </p>
    <p>
        A RobDroneGo, acedendo a qualquer dado pessoal, compromete-se a:
        – Tratá-los por em conformidade com os requisitos de proteção de dados aplicáveis, através de medidas de segurança, legalmente exigíveis, de natureza técnica e organizacional, que garantam a sua segurança, evitando assim sua alteração, perda, tratamento ou acesso não autorizado, em conformidade com o estado da tecnologia em cada momento, a natureza dos dados e os possíveis riscos a que estejam expostos;
        – Utilizar ou aplicar os dados exclusivamente com as finalidades devidamente consentidas;
        – Certificar-se de que os dados são manejados unicamente pelos trabalhadores cuja intervenção seja necessária para a prestação do serviço estando os mesmos obrigados ao dever de sigilo e confidencialidade. Existindo a possibilidade de a informação ser revelada a terceiros, estes devem ser obrigados a guardar a devida confidencialidade em conformidade com o previsto neste documento.
        Objetivo e Base Legal para o Processamento
        A utilização de dados pessoais ocorre com base na necessidade de fornecer, manter e melhorar os serviços oferecidos pela RobDroneGO. Estes dados são processados estritamente para permitir a interação do utilizador com a plataforma, garantindo uma experiência personalizada e apropriada. Os dados são utilizados com base no consentimento explícito dos utilizadores ao utilizar os serviços e em estrita conformidade com a legislação atual sobre privacidade e proteção de dados.
        Adicionalmente, os dados pessoais são processados para permitir a identificação, autenticação, comunicação e a oferta de serviços personalizados e específicos. A segurança e integridade destes dados são essenciais e tratadas de forma responsável e cuidadosa para garantir a proteção da informação.
        Destaca-se que o processamento de dados é restrito ao propósito definido, que é oferecer e melhorar os serviços prestados, garantindo uma interação segura e personalizada entre a plataforma e os utilizadores, respeitando as diretrizes para privacidade e segurança de dados pessoais.
        Responsável pelo Tratamento dos Dados Pessoais
        Os responsáveis pelo processamento de dados pessoais são os profissionais e a equipa técnica da RobDroneGo, o proprietário da plataforma e responsável pelo tratamento dos dados do utilizador.
        Operam em conformidade com os regulamentos de privacidade e segurança de dados, garantindo uma gestão e utilização adequadas das informações pessoais de acordo com as políticas internas da organização e as leis atuais de proteção de dados.
        Esta equipa, devidamente treinada e comprometida, é responsável por assegurar a segurança, integridade e confidencialidade dos dados pessoais dos utilizadores.
        Prazo de Conservação dos dados
        Os dados dos utilizadores são conservados apenas durante o prazo necessário ao cumprimento dos fins a que estes se destinam, sendo renovado anualmente desde que haja continuação de vínculo com o ISEP.
        O utilizador pode requerer, a qualquer altura, alterar ou retirar o seu consentimento com efeitos para o futuro.
    </p>
    <p>
        Acesso, Retificação ou oposição ao tratamento de dados
        O utilizador poderá exercer os seus direitos de acesso, retificação, cancelamento e oposição no que diz respeito aos seus dados pessoais. O exercício dos ditos direitos deverá realizar-se através de qualquer meio que o utilizador considere pertinente:
        A Através dos links de cancelamento de serviço presentes em todas as comunicações enviadas via email Por email: robdronego@lapr5.com com o assunto remover.
        Aceitação da Política de Privacidade
        Entende-se que o utilizador aceita os termos desta política de privacidade ao facultar os seus dados em qualquer um dos sites de propriedade da RobDroneGo. Na conclusão do formulário de consentimento assumimos que o utilizador autoriza o processamento automatizado e uso de dados de acordo com a política de privacidade aqui descrita.
        Qualquer informação adicional relativa à proteção da privacidade pode ser obtida junto da CNPD – Comissão de Proteção de Dados – Rua de S. Bento, 148 – 3o – 1200-821 LISBOA / Tel.: +351 213928400 / Fax: +351 213976832 / e-mail: geral@cnpd.pt
    </p>

    <!-- Botão para fechar o diálogo -->
    <button mat-button (click)="closeDialog()">Close</button>
</mat-card>

