.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar-button-group {
  display: flex;
  gap: 1rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 99;
}

.mat-toolbar {
  min-height: 6rem;
  height: 6rem;
  display:flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box {
  margin: 0 auto;
  width: 80%;
  max-width: 60rem;
  padding: 4rem 6rem;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.login-wrapper {
  width: 100%;
  margin-top: 10rem;
}

.login-button-group {
  margin-top: 2rem;
  padding: 0 1.6rem 1rem;
  display:flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-login {
  width: 10rem;
  height: 4rem;
}

.btn-login-register {
  --mdc-filled-button-container-color: var(--secondary-color);
  --mdc-filled-button-label-text-color: #fff;
}

mat-card-header {
  margin: 0 auto 4rem 0;
}

.login-text {
  font-weight: bold;
  font-size: 4rem;
  color: var(--primary-color-dark);
}

.form-field {
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
}
