<table mat-table [dataSource]="pendingTaskList" class="mat-elevation-z8">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
    <td mat-cell *matCellDef="let task">
      <!-- Descrição da Tarefa -->
      <ng-container *ngIf="column === 'description'">
        {{ task[column] }}
      </ng-container>
      <!-- Informação do utilizador -->
      <ng-container *ngIf="column === 'user name'">
        {{ task.user.userName }}
      </ng-container>
      <ng-container *ngIf="column === 'user contact'">
        {{ task.user.userContact }}
      </ng-container>
      <!-- Informação do utilizador -->
      <ng-container *ngIf="column === 'type'">
        {{ task.type }}
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>