<div class="campus-container">
  <div class="campus-cards-container">

    <mat-card class="card" routerLink="create-building" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>Create building</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">home</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="canActivateBridge" class="card" routerLink="create-bridge" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>Create bridge</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">directions</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="canActivateBridge" class="card" routerLink="create-elevator" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>Create elevator</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">elevator</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>Edit building</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">edit</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card" routerLink="edit-floors" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>Edit floor</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">home</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card" routerLink="list-building-floors" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>List Floors</mat-card-title>
        <mat-card-subtitle>Of a Building</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">list</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>search</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card" routerLink="list-elevators" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>List Elevators</mat-card-title>
        <mat-card-subtitle>Of a Building</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">list</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>search</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card" routerLink="list-floors" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>List Floors</mat-card-title>
        <mat-card-subtitle>with access to elevator</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">search</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="card" routerLink="list-bridges" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>List Bridges</mat-card-title>
        <mat-card-subtitle>between buildings</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">search</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>search</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card" routerLink="list-buildings" matRipple>
      <mat-card-header class="card-header">
        <mat-card-title>List Buildings</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-icon class="card-icon">list</mat-icon>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-mini-fab color="primary" class="card-button">
          <mat-icon>list</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>

