<mat-form-field>
    <mat-label>Escolha a tarefa</mat-label>
    <mat-select [(value)]="selectedTask">
      <mat-option value="vigilancia">Tarefa de Vigilância</mat-option>
      <mat-option value="pickup">Tarefa de Pickup</mat-option>
    </mat-select>
</mat-form-field>
<div *ngIf="selectedTask === 'vigilancia'">
    <mat-form-field>
        <mat-label>Select building</mat-label>
        <mat-select id="dropdownBuilding" [(ngModel)]="selectedBuilding" (valueChange)="onBuildingSelector($event)">
          <mat-option *ngFor="let building of buildings" [value]="building.id">
            {{ building.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select floor</mat-label>
        <mat-select id="dropdownFloor" [(ngModel)]="selectedFloor">
          <mat-option *ngFor="let floor of floors" [value]="floor">
            {{ floor.floorNumber }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <form [formGroup]="vigilanciaForm">
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contact Number" formControlName="contactNumber">
        </mat-form-field>
        <div formGroupName="startPosition">
          <h2>Start Position</h2>
          <mat-form-field>
              <span matPrefix>X </span>
              <input matInput formControlName="x">
          </mat-form-field>
          <mat-form-field>
              <span matPrefix>Y </span>
              <input matInput formControlName="y">
          </mat-form-field>
        </div>
        <div formGroupName="endPosition">
          <h2>End Position</h2>
          <mat-form-field>
              <span matPrefix>X </span>
              <input matInput formControlName="x">
          </mat-form-field>
          <mat-form-field>
              <span matPrefix>Y </span>
              <input matInput formControlName="y">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Criar tarefa</button>
    </form>
</div>
<div *ngIf="selectedTask === 'pickup'" >
  <form [formGroup]="pickupForm">
    <div style="display: flex; width: 100%; margin-bottom: 20px;">
      <div style="flex: 1; border-right: 1px solid black;">
        <H1>Select pickup point</H1>
        <div formGroupName="pickupLocalization">
          <mat-form-field>
            <mat-label>Select building</mat-label>
            <mat-select id="dropdownBuildingPickup" formControlName="buildingId" (valueChange)="onBuildingPickupSelector($event)">
              <mat-option *ngFor="let building of buildings" [value]="building.id">
                {{ building.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select floor</mat-label>
            <mat-select id="dropdownFloorPickup" formControlName="floor">
              <mat-option *ngFor="let floor of pickupFloors" [value]="floor">
                {{ floor.floorNumber }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div formGroupName="room">
            <h2>Localization</h2>
            <mat-form-field>
                <span matPrefix>X </span>
                <input matInput formControlName="x">
            </mat-form-field>
            <mat-form-field>
                <span matPrefix>Y </span>
                <input matInput formControlName="y">
            </mat-form-field>
          </div>
        </div>
        <div formGroupName="pickupContact">
          <mat-form-field>
            <input matInput placeholder="User Name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Contact Number" formControlName="contactNumber">
          </mat-form-field>
        </div>
      </div>
      <div style="flex: 1; padding-left: 3%;">
        <H1>Select delivery point</H1>
        <div formGroupName="deliveryLocalization">
          <mat-form-field>
            <mat-label>Select building</mat-label>
            <mat-select id="dropdownBuildingDelivery" formControlName="buildingId" (valueChange)="onBuildingDeliverySelector($event)">
              <mat-option *ngFor="let building of buildings" [value]="building.id">
                {{ building.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select floor</mat-label>
            <mat-select id="dropdownFloorDelivery" formControlName="floor">
              <mat-option *ngFor="let floor of deliveryFloors" [value]="floor">
                {{ floor.floorNumber }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div formGroupName="room">
            <h2>Localization</h2>
            <mat-form-field>
                <span matPrefix>X </span>
                <input matInput formControlName="x">
            </mat-form-field>
            <mat-form-field>
                <span matPrefix>Y </span>
                <input matInput formControlName="y">
            </mat-form-field>
          </div>
        </div>
        <div formGroupName="deliveryContact">
          <mat-form-field>
            <input matInput placeholder="User Name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Contact Number" formControlName="contactNumber">
          </mat-form-field>
        </div>

      </div>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Criar tarefa</button>
  </form>
</div>