/* Estilos para o container da tabela */
.validate-user-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 4rem;
  }
  
  /* Estilos para a seção da tabela */
  .validate-user-section {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  h2 {
    font-size: 3rem;
    display: inline-block;
    margin: 1.6rem 0;
    color: var(--color-grey-dark);
  }
  
  /* Estilos para a tabela */
  table {
    width: 100%;
    border-collapse: collapse; /* Junta as bordas das células */
  }
  
  /* Estilos para as linhas da tabela */
  tr.validate-user-detail-row {
    height: 0;
  }
  
  tr.validate-user-row:not(.elevator-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.validate-user-row:not(.elevator-expanded-row):active {
    background: #efefef;
  }
  
  /* Estilos para as células */
  .validate-user-row td {
    border-bottom-width: 0;
  }
  
  /* Estilos para os detalhes do elevador */
  .validate-user-detail {
    overflow: hidden;
    display: flex;
  }
  
  /* Estilos para o diagrama do elevador */
  .validate-user-diagram {
    min-width: 8rem;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 10.4rem;
  }
  
  .validate-user-symbol {
    font-weight: bold;
    font-size: 4rem;
    line-height: normal;
  }
  
  /* Estilos para a descrição do elevador */
  .validate-user-description {
    padding: 1.6rem;
  }
  
  /* Estilos para a atribuição da descrição do elevador */
  .validate-user-description-attribution {
    opacity: 0.5;
  }
  
  /* Estilos para as células do rodapé */
  .footer-row td {
    font-style: italic;
  }
  
  /* Estilos para elementos <pre> */
  pre {
    font-size: 1.6rem;
  }
  