/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

body{
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color-light: #4db6ac;
  --primary-color: #009688;
  --primary-color-dark: #004d40;
  --secondary-color: #a1887f;
  --color-black: #000;
  --color-grey-light-warm: #F1EBEC;
  --color-grey-light: #FAFAFA;
  --color-grey: #9E9E9E;
  --color-grey-dark: #424242;
  --color-success: #00c853;
  --color-error: #f44336;
  --color-warning: #ffa726;
  --global-spacer-xl: 4rem;
  --global-spacer-m: 2rem;
  --global-spacer-s: 1rem;

}

.snackbar-success {
  --mdc-snackbar-container-color: var(--primary-color);
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.snackbar-error {
  --mdc-snackbar-container-color: var(--color-error);
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.snackbar-warning {
  --mdc-snackbar-container-color: var(--color-warning);
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}
