
<div class="campus-container">
    <div class="campus-cards-container">
        <mat-card class="card" routerLink="plan-route" matRipple>
            <mat-card-header class="card-header">
              <mat-card-title>Plan Route</mat-card-title>
              <mat-card-subtitle>&nbsp;</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-content">
              <mat-icon class="card-icon">route</mat-icon>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <button mat-mini-fab color="primary" class="card-button">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="card" routerLink="plan-route-with-view" matRipple>
            <mat-card-header class="card-header">
              <mat-card-title>Plan Route with view</mat-card-title>
              <mat-card-subtitle>&nbsp;</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-content">
              <mat-icon class="card-icon">route</mat-icon>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <button mat-mini-fab color="primary" class="card-button">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="card" routerLink="create-task" matRipple>
            <mat-card-header class="card-header">
              <mat-card-title>Create Task</mat-card-title>
              <mat-card-subtitle>&nbsp;</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-content">
              <mat-icon class="card-icon">list</mat-icon>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <button mat-mini-fab color="primary" class="card-button">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>