.register-container {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.toolbar-button-group {
  display: flex;
  gap: 1rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 99;
}

.mat-toolbar {
  min-height: 6rem;
  height: 6rem;
  display:flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box {
  margin: 0 auto 10rem auto;
  width: 80%;
  max-width: 60rem;
  padding: 4rem 6rem;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.register-wrapper {
  width: 100%;
  margin-top: 10rem;
}

.register-button-group {
  margin-top: 1rem;
  padding: 0 1.6rem 1rem;
  display:flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-register {
  width: 10rem;
  height: 4rem;
}


mat-card-header {
  margin: 0 auto 4rem 0;
}

.register-text {
  font-weight: bold;
  font-size: 4rem;
  color: var(--primary-color-dark);
}

.form-field {
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
}

.fake-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.fake-link:hover {
  color: darkblue;
}

.terms-text {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--color-grey);
}

.terms-and-conditions {
  display:flex;
  gap: 0.5rem;
  align-items: baseline;
}

